*{
  box-sizing: border-box;
}
body {
  background-image: url('./images/3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-align: center;
}
.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap:5px;
    border: 2px solid rgb(2, 2, 2);
}
.timer {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    min-width: 200px;
    min-height: 200px;
    border:2px solid green;
}

.circleTime {
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(30, 117, 1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#in_Out_Timer {
    width: 60px;
    border:2px solid green;
}
#buttonTimer {
  border: 2px solid green;
}

.stopWotch{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    border:2px solid rgb(251, 55, 1);
}

.alarmClock {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    border:2px solid rgb(1, 18, 251);
}


.circleWotch {
    border:2px solid red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.circleClock {
    border:2px solid rgb(25, 0, 255);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}