* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(0, 0, 255, 0.624), rgba(255, 255, 0, 0.53), rgba(255, 0, 0, 0.661));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 2px 5px black;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    gap: 5px;
}

.timer {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 200px;
    min-height: 200px;
}

.timer>p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 3px rgb(16, 138, 0);
    margin-bottom: 5px;
}

.circleTime {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(30, 117, 1);
    outline: 10px solid rgb(127, 225, 127);
    background-color: rgba(0, 0, 0, 0.488);
    box-shadow: 0 0 10px 10px black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.circleTime>img {
    position: absolute;
    display: none;
    top: -15px;
    width: 165px;
    height: 165px;
    cursor: pointer;
}

#in_Out_Timer {
    text-align: center;
    width: 68px;
    border: 2px solid green;
    color: rgb(193, 30, 1);
}

.buttons {
    display: flex;
    gap: 5px;
    height: 20px;
    margin-top: 15px;
}

[id^="buttonTimer"] {
    border: 2px solid green;
    box-shadow: 0 0 5px green;
    border-radius: 10px;
    width: 35px;
    height: 20px;
    padding-bottom: 18px;
}

.stopWotch {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 200px;
    min-height: 200px;
}

.circleWatch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    outline: 10px solid rgb(225, 137, 127);
    background-color: rgba(0, 0, 0, 0.488);
    box-shadow: 0 0 10px 10px black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#in_Out_stopWatch {
    text-align: center;
    width: 98px;
    border: 2px solid rgb(237, 49, 106);
    color: rgb(193, 30, 1);
}

.stopWotch>p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 3px rgb(146, 0, 0);
    margin-bottom: 5px;
}

.buttonsWatch {
    display: flex;
    gap: 5px;
    height: 20px;
    margin-top: 15px;
}

[id^="buttonWatch"] {
    border: 2px solid rgb(234, 108, 97);
    box-shadow: 0 0 10px rgb(243, 114, 114);
    border-radius: 10px;
    width: 50px;
    height: 20px;
}

.alarmClock {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 200px;
    min-height: 200px;
}

.circleAlarm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(11, 1, 117);
    outline: 10px solid rgb(80, 98, 216);
    background-color: rgba(0, 0, 0, 0.488);
    box-shadow: 0 0 10px 10px black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.alrmImg>.imgOn {
    position: absolute;
    display: none;
    left: 45%;
    top: 25px;
}

.alrmImg>.imgOff {
    position: absolute;
    left: 45%;
    top: 25px;
}

.alrmImg>.imgAlarm {
    position: absolute;
    display: none;
    left: 45%;
    top: 25px;
}

#in_Out_Alarm {
    text-align: center;
    width: 68px;
    border: 2px solid rgb(0, 28, 128);
    color: rgb(193, 30, 1);
}

.alarmClock>p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 3px rgb(0, 2, 147);
    margin-bottom: 5px;
}

.buttonsAlarm {
    display: flex;
    gap: 5px;
    height: 20px;
    margin-top: 15px;
}

[id^="buttonAlarm"] {
    border: 2px solid rgb(47, 77, 248);
    box-shadow: 0 0 5px rgb(2, 0, 128);
    border-radius: 10px;
    width: 35px;
    height: 20px;
}

@media (max-width:462px) {
    body {
        height: 100%;
    }
}